<launch>
  <arg name="initial_velocity_kmh" default="2.1" />
  <arg name="velcity_kmh_before_obstalcle" default="1.0" />
  <arg name="distance_before_obstacle" default="7.0" />
  <arg name="obstalce_radius_from_center_point" default="3.0" />
  <arg name="min_lateral_referencing_offset_for_avoidance" default="5.0" />
  <arg name="max_lateral_referencing_offset_for_avoidance" default="8.0"/>
  <arg name="cost_diff_waypoints_coef" default="0.0"/>
  <arg name="cost_diff_last_waypoint_coef" default="1.0"/>
  <arg name="lookahead_distance_per_kmh_for_reference_point" default="2.0"/>
  <arg name="converge_distance_per_kmh_for_stop" default="2.36"/>
  <node pkg="frenet_planner" type="frenet_planner" name="frenet_planner" output="screen">
    <param name="initial_velocity_kmh"  value="$(arg initial_velocity_kmh)" />
    <param name="velcity_kmh_before_obstalcle"        value="$(arg velcity_kmh_before_obstalcle)" />
    <param name="distance_before_obstacle"   value="$(arg distance_before_obstacle)" />
    <param name="obstalce_radius_from_center_point"         value="$(arg obstalce_radius_from_center_point)" />
    <param name="min_lateral_referencing_offset_for_avoidance"   value="$(arg min_lateral_referencing_offset_for_avoidance)" />
    <param name="max_lateral_referencing_offset_for_avoidance"   value="$(arg max_lateral_referencing_offset_for_avoidance)" />
    <param name="cost_diff_waypoints_coef"   value="$(arg cost_diff_waypoints_coef)" />
    <param name="cost_diff_last_waypoint_coef"   value="$(arg cost_diff_last_waypoint_coef)" />
    <param name="lookahead_distance_per_kmh_for_reference_point"   value="$(arg lookahead_distance_per_kmh_for_reference_point)" />
    <param name="converge_distance_per_kmh_for_stop"   value="$(arg converge_distance_per_kmh_for_stop)" />
  </node>
</launch>
